USE [master]
GO
/****** Object:  Database [B1812309_PTThuy]    Script Date: 12/3/2021 4:24:36 PM ******/
CREATE DATABASE [B1812309_PTThuy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'B1812309_PTThuy', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\B1812309_PTThuy.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'B1812309_PTThuy_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\B1812309_PTThuy_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [B1812309_PTThuy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [B1812309_PTThuy]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 12/3/2021 4:24:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [varchar](10) NOT NULL,
	[TENSP] [nvarchar](255) NOT NULL,
	[NGAYCAPNHAT] [date] NOT NULL,
	[TINHTRANG] [bit] NULL CONSTRAINT [DF_SANPHAM_TINHTRANG]  DEFAULT ((1)),
	[MOTA] [nvarchar](500) NOT NULL,
	[DONVITINH] [nvarchar](10) NOT NULL,
	[DONGIA] [float] NOT NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
